:root {
  --solid-heading: rgba(66, 68, 110, 1);
  --dark-content: rgba(102, 102, 102, 1);
  --solid-heading-dark-mode: rgba(204, 204, 204, 1);
  --light-content: rgba(167, 167, 167, 1);
  --dark-mode: rgba(25, 25, 25, 1);
  --button-text: rgba(1, 140, 15, 1);
  --button-success: rgba(215, 255, 224, 1);
  --buttons-big-font-family: "DM Sans", Helvetica;
  --buttons-big-font-weight: 500;
  --buttons-big-font-size: 20px;
  --buttons-big-letter-spacing: 0px;
  --buttons-big-line-height: 26px;
  --buttons-big-font-style: normal;
}
